@import "assets/scss/variables";
@import "assets/scss/mixin";

.insight-card-wrapper {
  padding: 16px;
  border: $lt_border;

  img {
    width: 100%;
    max-height: 172px;
    object-fit: cover;
    margin-bottom: 21px;
  }

  h2 {
    font: $title_font;
    font-size: 24px;
    line-height: 29px;
    color: $black;
    margin-bottom: 21px;
    @include multi-line-ellipsis;
    min-height: 87px;
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .date-and-category-wrapper {
    font: $text_font;
    @include oneLineEllipsis;
  }
}
