.loader-wrapper-overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
