@import "assets/scss/variables";
@import "assets/scss/mixin";

#cart-page {
  margin-bottom: 100px;
  header {
    margin-top: 100px;
    margin-bottom: 20px;
  }

  .cart-inner {
    position: relative;
    #checkout-btn {
      background-color: $red;
      color: $white;
      margin-top: 40px;
      padding: 10px 60px;
      position: absolute;
      top: -105px;
      right: 0;
    }
  }

  .cart-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 50px;

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
}
